@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), local('Quicksand-Regular'),
    url('assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: local('Quicksand'), local('Quicksand-Bold'),
    url('assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-style: bold;
}
@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), local('Quicksand-Bold'),
    url('assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-style: bold;
}
@font-face {
  font-family: 'Quicksand-SemiBold';
  src: local('Quicksand'), local('Quicksand-SemiBold'),
    url('assets/fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
  font-style: bold;
}

html,
body {
  height: 100%;
  font-family: 'Quicksand';
}
html {
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  overflow: auto;
}

body {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  border: 0;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

b {
  font-weight: bold;
  font-family: 'Quicksand-Bold';
}

a {
  text-decoration: none;
}

a.custom {
  text-decoration: none;
  color: #2ec4b6;
  font-weight: bold;
}
a.custom:hover {
  text-decoration: underline;
  text-decoration-color: #011627;
  color: #2ec4b6;
  font-weight: bold;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2ec4b6;
  color: #fdfffc;
  padding: 40px;
  min-height: 480px;
}

section.hero .title {
  font-size: 2rem;
  font-weight: bold;
}

.links-to-other-pages {
  padding: 20px;
}
.links-to-other-pages > .linkbox > a.link {
  padding: 30px;
  margin: 40px;
  border-width: 2px;
  border-color: #2ec4b6;
  border-radius: 6px;
  border-style: solid;
  text-align: center;
  color: #011627 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  display: block;
}
